<% include components/header_loggedin %>


<script>
function update_info($this){
    console.log("button clicked");
    var request_data = $this.id;
    console.log("data: " + request_data)
    alert("Company info was updated!")
}
</script>

<div style="padding-top: 50px" class="container text-center">
  <h3>Edit Company About Info</h3><br>
</div><br>

<form class="form-horizontal" action="#" method="post">
 <div class="row form-group">
   <label class="control-label col-sm-offset-3 col-sm-3" for="comp-info">Company Info*:</label>
   <div class="col-sm-3">
     <textarea class="form-control" rows="10" id="comp-info" name="comp-info" required></textarea>
   </div>
 </div>
 <div class="row form-group">
   <div class="col-sm-offset-5 col-sm-1">
     <button id="send-feedback" type="submit" class="btn btn-success" onclick="update_info(this)">Update</button>
   </div>
 </div>
</form>


<% include components/footer %>
