<% include components/header_loggedin %>


<div class="container text-center" style="padding-top: 150px">
  <h1>Hello, Admin!</h1><br>
  <div class="row text-left">
    <div class="col-sm-offset-5 col-sm-4">
      <h4>Here you can manage:
        <ul>
          <li style="padding-top:10px">Customer site - edit information</li>
          <li>News - add, edit, delete</li>
          <li>Pickpoints - add, edit, delete</li>
        </ul>
      </h4>
    </div>
  </div>
</div><br>

<% include components/footer %>
