<% include components/header_loggedin %>


<div class="container">
  <div style="padding-top: 80px;" class="container text-center">
    <h3>Manage News</h3><br>
  </div><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>News Name</th>
        <th>News Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>4</th>
        <td>Tree Planting</td>
        <td>24/07/2018</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <th>3</th>
        <td>Five Thousand Employees</td>
        <td>9/01/2018</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <th>2</th>
        <td>Million Parcels Delivered</td>
        <td>13/10/2017</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <th>1</th>
        <td>New Office in Innopolis</td>
        <td>23/08/2016</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<% include components/footer %>
