<% include components/header_loggedin %>


<div class="container">
  <div style="padding-top: 80px" class="container text-center">
    <h3>Manage Pickpoints</h3><br>
  </div><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Country</th>
        <th>City</th>
        <th>Address</th>
        <th>Schedule</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>100001</th>
        <td>Russia</td>
        <td>Moscow</td>
        <td>Lenin Str. 1</td>
        <td>Mon-Fr 9 am - 7 pm</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <th>100002</th>
        <td>Great Britain</td>
        <td>London</td>
        <td>Oxford Str. 10</td>
        <td>Mon-Fr 10 am - 5 pm</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <th>100003</th>
        <td>Germany</td>
        <td>Berlin</td>
        <td>Blumen Str. 5</td>
        <td>Mon-Fr 9 am - 6 pm</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <th>100004</th>
        <td>France</td>
        <td>Paris</td>
        <td>Revolution Str. 25</td>
        <td>Mon-Fr 11 am - 9 pm</td>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<% include components/footer %>
