<% include components/header_loggedin %>


<div class="container">
  <div style="padding-top: 80px" class="container text-center">
    <h3>Edit Customer Site Info</h3><br>
  </div><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Page</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Company: About</th>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
      </tr>
      <tr>
        <th>Support: Contact us</th>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
      </tr>
      <tr>
        <th>Shipping: Info</th>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
      </tr>
      <tr>
        <th>Shipping: Prices</th>
        <td>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<% include components/footer %>
