<% include components/header %>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="img/trees-news.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tree Planting</h5>
    <p class="card-text">During our charitable action 10 000 of trees were planted in Innopolis, Russia.</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="img/staff-news.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Five Thousand Employees</h5>
    <p class="card-text">Our company grows fast - five thousand employees all over the world!</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="img/million-news.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Million Parcels Delivered</h5>
    <p class="card-text">Today we celebrate our anniversary - 1 000 000 parcels delivered!</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

<% include components/footer %>
