<% include components/header %>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="card-img-top" src="img/trees-news.jpg" alt="Card image cap">
        <div class="caption">
          <h3>Tree Planting</h3>
          <p>During our charitable action 10 000 trees were planted in Innopolis, Russia</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="card-img-top" src="img/staff-news.jpg" alt="Card image cap">
        <div class="caption">
          <h3>Five Thousand Employees</h3>
          <p>Congratulations! We have 5000 employees all over the world!</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="card-img-top" src="img/million-news.jpg" alt="Card image cap">
        <div class="caption">
          <h3>Million Parcels Delivered</h3>
          <p>Today we celebrate our anniversary - 1 000 000 parcels delivered!</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="card-img-top" src="img/office-news.jpg" alt="Card image cap">
        <div class="caption">
          <h3>New Office in Innopolis</h3>
          <p>Today we opened a new office in Innopolis, Russia!</p>
          <p><a href="#" class="btn btn-primary" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</div><br>



<% include components/footer %>
