<% include components/header %>

<div class="container text-center">
  <h3>ACME Company</h3><br>
  <div class="row text-left">
    <div class="col-sm-4">
      <img src="img/main-office.jpg" class="img-responsive" style="width:100%" alt="main office">
    </div>
    <div class="col-sm-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Enim ut tellus elementum sagittis
        vitae et leo duis ut. Id interdum velit laoreet id. Tellus in hac habitasse
        platea dictumst vestibulum rhoncus. Sed vulputate odio ut enim blandit.
        Semper eget duis at tellus at urna. Quis risus sed vulputate odio ut enim.
        Habitant morbi tristique senectus et. Etiam erat velit scelerisque in dictum non.
        Orci eu lobortis elementum nibh tellus molestie. Nunc sed velit dignissim sodales
        ut eu sem integer. Sagittis purus sit amet volutpat consequat. Imperdiet sed
        euismod nisi porta lorem mollis aliquam. Magna fermentum iaculis eu non diam
        phasellus vestibulum. Nulla at volutpat diam ut venenatis. A pellentesque sit
        amet porttitor eget dolor. Ac feugiat sed lectus vestibulum mattis ullamcorper.
        Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.
        Pellentesque id nibh tortor id aliquet.
      </p>
      <p>
        Dolor magna eget est lorem ipsum dolor. Dignissim enim sit amet venenatis urna cursus.
        Lobortis elementum nibh tellus molestie nunc non blandit. Elit eget gravida cum sociis
        natoque. Dignissim enim sit amet venenatis. Posuere morbi leo urna molestie at.
        Euismod quis viverra nibh cras pulvinar. Amet commodo nulla facilisi nullam.
        Risus in hendrerit gravida rutrum quisque non tellus orci ac. Sed vulputate mi sit
        amet mauris commodo. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus.
        Nunc eget lorem dolor sed viverra ipsum. Volutpat lacus laoreet non curabitur gravida
        arcu ac. Id semper risus in hendrerit gravida. Viverra aliquet eget sit amet tellus
        cras adipiscing. Eu consequat ac felis donec et odio pellentesque.
      </p>
    </div>
  </div>
</div>

<div class="container text-center">
  <h3>ACME Company Government</h3><br>
  <div class="row">
    <div class="col-sm-6">
      <img src="img/ceo.jpg" class="img-responsive" style="width:100%" alt="CEO"><br>
      <p><h5>CEO Angelo Messina</h5></p>
    </div>
    <div class="col-sm-6">
      <img src="img/cfo.jpg" class="img-responsive" style="width:100%" alt="CFO"><br>
      <p><h5>CFO Evgeny Bobrov</h5></p>
    </div>
  </div>
</div><br>

<% include components/footer %>
