<% include components/header %>

<div class="container text-center" style="padding-top: 100px">
  <h3>Log in</h3><br>
</div><br>

<script>
    $(document).ready(function(){
        // click on button submit
        $("#login").on('click', function(){
            // send ajax
            $.ajax({
                url: 'http://80.93.182.76:5000/', // url where to submit the request TODO
                type : "POST", // type of action POST || GET
                dataType : 'json', // data type
                data : $("#form").serialize(), // post data || get data
                alert('debug')
                alert(data);
                success : function(result) {
                    // you can see the result from the console
                    // tab of the developer tools
                    console.log(result);
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
        });
    });

</script>

<form class="form-horizontal" action="#" method="post" id="form">
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="email">Email:</label>
   <div class="col-sm-3">
     <input type="email" class="form-control" id="email" placeholder="Enter email">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="pwd">Password:</label>
   <div class="col-sm-3">
     <input type="password" class="form-control" id="pwd" placeholder="Enter password">
   </div>
 </div>
 <div class="form-group">
   <div class="col-sm-offset-5 col-sm-1">
     <button type="submit" id="login" class="btn btn-success">Log in</button>
   </div>
 </div>
 <div class="col-sm-offset-5 col-sm-3">
   <p>Do not have account yet? <a href="signup">Sign up</a></p><br>
 </div>
</form>

<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
