<% include components/header %>

<div class="container text-center" style="padding-top: 100px">
  <h3>Log in</h3><br>
</div><br>

<form class="form-horizontal" action="/action_page.php">
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="email">Email:</label>
   <div class="col-sm-3">
     <input type="email" class="form-control" id="email" placeholder="Enter email">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="pwd">Password:</label>
   <div class="col-sm-3">
     <input type="password" class="form-control" id="pwd" placeholder="Enter password">
   </div>
 </div>
 <div class="form-group">
   <div class="col-sm-offset-5 col-sm-1">
     <button type="submit" class="btn btn-success">Log in</button>
   </div>
 </div>
</form>

<div class="container text-center">
  <p>Do not have account yet? <a href="signup">Sign up</a></p><br>
</div><br>

<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
