<% include components/header %>

<div style="padding-top: 100px" class="container text-center">
  <h3>Shipping information</h3><br>
  <ul class="list-group text-left">
   <li class="list-group-item">FAST, DEPENDABLE WORLDWIDE SHIPPING.</li>
   <li class="list-group-item">Ship today and save. You can count on the global expertise of ACME Express, the pioneer in international express service.
                                Rely on our vast global network, competitive rates and industry-leading transit times to get your time-critical shipments
                                where they need to be - on time, every time.</li>
   <li class="list-group-item">ON-TIME DELIVERY : State-of-the art hubs around the world allow your time-definite shipments to move at full-speed.</li>
   <li class="list-group-item">WORLDWIDE COVERAGE: ACME delivers to 120,000 destinations in over 220 countries and territories worldwide.</li>
   <li class="list-group-item">NO HIDDEN COSTS: Our competitive upfront pricing for door-to-door delivery makes costs predictable and easy to manage.</li>
   <li class="list-group-item">EXPORT AND IMPORT: Daily direct flights into and out of the principal counties connect your imports and exports to every
                                corner of the globe.</li>
   <li class="list-group-item">We are redsigning our support software to increase our performance and give the Customers a five star service.</li>
  </ul>
</div><br>

<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
