<% include components/header %>

<div style="padding-top: 50px" class="container text-center">
  <h3>Price List</h3><br>
  <p>
    This is a general information. If you want to get more concrete information about prices, please, use our Calculator.
  </p>



    <table class="table table-condensed text-left">

        <thead>

            <tr>

                <th>Destination</th>

                <th>Weight</th>

                <th>Origin</th>

                <th>Price</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>Russia</td>

                <td>1-10 kg</td>

                <td>Europe</td>

                <td>100 USD</td>

            </tr>

            <tr>

                <td>USA</td>

                <td>10-50 kg</td>

                <td>Europe</td>

                <td>300 USD</td>

            </tr>

            <tr>

                <td>Asia</td>

                <td>0.1-1 kg</td>

                <td>Asia</td>

                <td>10 USD</td>

            </tr>
            <tr>

                <td>Russia</td>

                <td>1-10 kg</td>

                <td>Europe</td>

                <td>100 USD</td>

            </tr>

            <tr>

                <td>USA</td>

                <td>10-50 kg</td>

                <td>Europe</td>

                <td>300 USD</td>

            </tr>

            <tr>

                <td>Asia</td>

                <td>0.1-1 kg</td>

                <td>Asia</td>

                <td>10 USD</td>

            </tr>
            <tr>

                <td>Russia</td>

                <td>1-10 kg</td>

                <td>Europe</td>

                <td>100 USD</td>

            </tr>

            <tr>

                <td>USA</td>

                <td>10-50 kg</td>

                <td>Europe</td>

                <td>300 USD</td>

            </tr>

            <tr>

                <td>Asia</td>

                <td>0.1-1 kg</td>

                <td>Asia</td>

                <td>10 USD</td>

            </tr>

        </tbody>

    </table>
</div><br>


<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
