<% include components/header %>

<div style="padding-top: 100px" class="container text-center">
  <h3>Shipping information</h3><br>
  <ul class="list-group">
   <li class="list-group-item">FAST, DEPENDABLE WORLDWIDE SHIPPING.</li>
   <li class="list-group-item">Ship today and save. You can count on the global expertise of ACME Express, the pioneer in international express service.
Rely on our vast global network, competitive rates and industry-leading transit times to get your time-critical shipments
where they need to be - on time, every time.</li>
   <li class="list-group-item">Third item</li>
  </ul>
</div><br>

<% include components/footer %>
