<% include components/header %>

<div style="padding-top: 50px" class="container text-center">
  <h3>Send Feedback</h3><br>
</div><br>

<form class="form-horizontal" action="/action_page.php">
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="name">Your Name:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="name" placeholder="Your Name">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="email">Your Email:</label>
   <div class="col-sm-3">
     <input type="email" class="form-control" id="email" placeholder="Your Email">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="feedback">Your Feedback:</label>
   <div class="col-sm-3">
     <textarea class="form-control" rows="5" id="comment"></textarea>
   </div>
 </div>
 <div class="form-group">
   <div class="col-sm-offset-5">
     <button type="submit" class="btn btn-success">Send</button>
   </div>
 </div>
</form>


<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
