<% include components/header %>

<div class="container text-center">
  <h3>Contact us</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="img/email.jpg" class="img-responsive" style="width:100%" alt="email"><br>
      <p><h4>Email</h4></p>
      <p>
        support@acme.com
      </p>
    </div>
    <div class="col-sm-4">
      <img src="img/call_center.jpg" class="img-responsive" style="width:100%" alt="call center"><br>
      <p><h4>Phone</h4></p>
      <p>
        8(800)111-22-33
      </p>
    </div>
    <div class="col-sm-4">
      <img src="img/personally.jpg" class="img-responsive" style="width:100%" alt="personally"><br>
      <p><h4>Personally</h4></p>
      <p>
        Innopolis, Universitetskaya Str. 1, Russia
      </p>
    </div>
  </div>
</div><br>

<% include components/footer %>
