<% include components/header %>

<script>
function openBlock() {
  document.getElementById('abracadabra').style.display = "block";
}
</script>

<div style="padding-top: 100px" class="container text-center">
  <h3>Track Order</h3><br>
</div><br>

<form class="form-horizontal" action="#">
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="number">Order Number:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="number" placeholder="1234567890">
   </div>
 </div>
 <div class="form-group">
   <div class="col-sm-offset-5 col-sm-1">
     <button class="btn btn-success" onclick="openBlock">Track</button>
   </div>
 </div>
</form>

<div style="display: none; padding-top: 10px" class="text-center" id="abracadabra">
  <hr>
  <h4>Current position: <b>St. Petersburg warehouse</b></h4>
</div>

<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>
</body>
</html>
