<% include components/header %>

<div style="padding-top: 50px" class="container text-center">
  <h3>Manage Orders</h3><br>
</div><br>


<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
