<% include components/header %>

<div style="padding-top: 50px" class="container text-center">
  <h3>Create Order</h3><br>
</div><br>

<form class="form-horizontal" action="#">
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="sender-name">Your Full Name:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="sender-name" placeholder="Your Full Name">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-offset-3 col-sm-2" for="recipient-name">Recipient Full Name:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="recipient-name" placeholder="Your Full Name">
   </div>
 </div>
 <ul>
  <li role="separator" class="divider"></li>
 </ul>
 <div class="col-sm-offset-2 col-sm-2"><h4>Dispatch Address:</h4></div></br>
 <ul>
  <li role="separator" class="divider"></li>
 </ul>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dispatch-address-country">Country:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dispatch-address-country" placeholder="Country">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dispatch-address-region">Region:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dispatch-address-region" placeholder="Region">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dispatch-address-city">City:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dispatch-address-city" placeholder="City">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dispatch-address-street">Street:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dispatch-address-street" placeholder="Street">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dispatch-address-building">Building:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dispatch-address-building" placeholder="Building Number">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dispatch-address-additional">Additional Info:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dispatch-address-additional" placeholder="Additional Info if any">
   </div>
 </div>
 <ul>
  <li role="separator" class="divider"></li>
 </ul>
 <div class="col-sm-offset-2 col-sm-2"><h4>Destination Address:</h4></div></br>
 <ul>
  <li role="separator" class="divider"></li>
 </ul>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dest-address-country">Country:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dest-address-country" placeholder="Country">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dest-address-region">Region:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dest-address-region" placeholder="Region">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dest-address-city">City:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dest-address-city" placeholder="City">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dest-address-street">Street:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dest-address-street" placeholder="Street">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dest-address-building">Building:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dest-address-building" placeholder="Building Number">
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="dest-address-additional">Additional Info:</label>
   <div class="col-sm-3">
     <input type="input" class="form-control" id="dest-address-additional" placeholder="Additional Info if any">
   </div>
 </div>

 <ul>
  <li role="separator" class="divider"></li>
 </ul>
 <div class="col-sm-offset-2 col-sm-2"><h4>Parcel:</h4></div></br>
 <ul>
  <li role="separator" class="divider"></li>
 </ul>
 <div class="form-group">
   <label class="control-label col-sm-1" for="parcel-weight">Weight:</label>
   <div class="col-sm-1">
     <input type="number" class="form-control" id="parcel-weight" placeholder="1">
   </div>
   <div class="col-sm-1">
     kg
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="parcel-width">Width:</label>
   <div class="col-sm-1">
     <input type="number" class="form-control" id="parcel-width" placeholder="1">
   </div>
   <div class="col-sm-1">
     meters
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="parcel-height">Height:</label>
   <div class="col-sm-1">
     <input type="number" class="form-control" id="parcel-height" placeholder="1">
   </div>
   <div class="col-sm-1">
     meters
   </div>
 </div>
 <div class="form-group">
   <label class="control-label col-sm-1" for="parcel-length">Lenght:</label>
   <div class="col-sm-1">
     <input type="number" class="form-control" id="parcel-length" placeholder="1">
   </div>
   <div class="col-sm-1">
     meters
   </div>
 </div>









 <div class="checkbox">
    <label><input type="checkbox" value="" id="urgent">Urgent</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" id="first-class">First Class Parcel</label>
  </div>
 <div class="form-group">
   <div class="col-sm-offset-5 col-sm-1">
     <button type="submit" class="btn btn-success">Reserve</button>
   </div>
 </div>
</form>

<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
