<% include components/header %>

<div class="container">
  <div style="padding-top: 80px" class="text-center">
    <h3>Delete Account</h3><br>
  </div><br>

  <div style="color: #5c0000; padding-bottom: 50px" class="text-center">
    <h4>Are you sure you want to delete your account?</h4>
    <h4>This action cannot be cancelled</h4>
  </div>
  <div class="row" style="padding-bottom: 50px">
    <div class="col-12">
      <a href="/user/delete_account/confirm" class="btn btn-danger center-block" style="width: 130px">Delete Account</a>
    </div>
  </div>
</div>
<% include components/footer %>
