<% include components/header %>

<div class="container">
  <div style="padding-top: 80px" class="text-center">
    <h3>Payment</h3><br>
    You can pay for your order #<b><%=order_id %></b> online
  </div>
  <br>
  <hr />
  <div class="row">
    <div class="text-center">
      <h4>Total Cost: <b><%= cost %></b></h4>
  </div>
  <div class="row">
    <div class="col-sm-1 col-sm-offset-5">
      <input type="button" class="btn btn-danger" onclick="history.back();" value="Go Back"/>
    </div>
    <div class="col-sm-2">
      <a href="<%= order_id %>/success" class="btn btn-success">Go to Payment Service</a>
    </div>
  </div>
  <hr />
</div>

<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
