<% include components/header %>

<div class="container">
  <div style="padding-top: 80px" class="text-center">
    <h3>Payment</h3><br>
    You can pay for your order online
  </div>
  <br>
  <hr />
  <div class="row">
    <div class="col-sm-offset-5 col-md-1">
      <a href="#" class="btn btn-success">Go to My Orders</a>
    </div>
  </div>
  <hr />
</div>
<% include components/footer %>
