body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #a6a6a6;
  padding: 25px;
}
